.alert-box{
    position: absolute;
    border-radius: 10px;
    top: 70px;
    width: 40%;
    margin: auto 30%;
    background-color: white;
    border: 2px solid black;
    padding: 15px;
}

.completo{
    width: 100%;

    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    animation-name: aparecer;
    animation-duration: 0.5s;
}

.alert-box p, .alert-box h3{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

#close-alert{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    border-right-width: 0;
    border-top-width: 0;
    cursor: pointer;
    background: none;
	color: inherit;
	outline: inherit;
}

#ok-alert{
    display: block;
    width: 20%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
