<form action="" autocomplete="off" class="filtros" *ngIf="!isLoading">
  <div class="global-double-button">
    <div class="cubrirMayoria">
      <label for="pais_origen">Fecha Desde</label>
      <p-calendar [locale]="es" [(ngModel)]="fechaDesde"
            name="fechaDesde"[style]="{'width':'100%', 'display':'flex'}"
            [inputStyle]="{'width':'100%', 'line-height':'normal'}" 
            [showIcon]="true"
            [maxDate]="fechaHasta ? fechaHasta : null"
            dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="cubrirMayoria">
      <label for="pais_origen">Fecha Hasta</label>
      <div class="card flex justify-content-center">
      <p-calendar [locale]="es" [(ngModel)]="fechaHasta" 
            name="fechaHasta" 
            [style]="{'width':'100%', 'display':'flex'}" 
            [inputStyle]="{'width':'100%','line-height':'normal'}" 
            [showIcon]="true" 
            [minDate]="fechaDesde ? fechaDesde : fechaHoy"
            dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>
  </div>

</form>
<form class="global-centered-form sinMargen" *ngIf="!isLoading">
  <label for="pais_origen">País</label>
  <p-dropdown [options]="paisesOrigen" [(ngModel)]="pais" name="pais_origen" class="input"> </p-dropdown>

  <label for="tipo_documento">Tipo de documento</label>
  <p-dropdown [options]="tiposDocs" [(ngModel)]="tipoDoc" name="tipo_documento" class="input"> </p-dropdown>

  <label for="numero_documento">Nro Doc</label>
  <p-inputNumber type="number" name="numbero_documento" [minFractionDigits]="0" [min]="0" [max]="99999999"  [(ngModel)]="nroDoc" [useGrouping]="false" [format]="false" class="input"> </p-inputNumber>

  <label for="sucursal">Sucursal</label>
  <p-inputNumber disabled type="number" name="sucursal" [minFractionDigits]="0" [max]="999" [(ngModel)]="sucursal" [useGrouping]="false" [format]="false" class="input"> </p-inputNumber>

  <label for="pais_origen">Nro Caja</label>
  <p-inputNumber type="number" name="nroCaja" [minFractionDigits]="0" [min]="0" [max]="9999" [(ngModel)]="nroCaja" [useGrouping]="false" [format]="false" class="input"> </p-inputNumber>

  <label for="pais_origen">Cuenta</label>
  <p-inputNumber type="number" name="nroCuenta" [minFractionDigits]="0" [min]="0" [max]="999999"  [(ngModel)]="cuenta" [useGrouping]="false" [format]="false" class="input"> </p-inputNumber>

  <div class="global-double-button">
    <button (click)="limpiarFiltros()" class="ui-button-warning" pButton label="Limpiar filtros"></button>
    <button class="ui-button" (click)="buscar()"  pButton type="button"  label="Continuar"></button>
  </div>
</form>

<div class="tableCaja" *ngIf="isLoading" >
<!--  style="height: calc(100vh - 20vh)"> -->
  <div *ngIf="this.ingresos !== null && this.ingresos.length !== 0" >
    <h3>Ingresos</h3>
    <div style="height: 500px;">
      <p-table [value]="ingresos" [scrollable]="true" 
          [resizableColumns]="true" 
          [columns]="cabeceras" 
          [paginator]="true" 
          [rows]="10"
          [showCurrentPageReport]="true"
          scrollHeight="400px"
          styleClass="p-datatable-gridlines "
          currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros"
          [rowsPerPageOptions]="[10,25,50]" class="tablafea" >
          <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pResizableColumn id="ingresosHeader">
                  {{col.header}}
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-parametro let-columns="columns">
              <tr>
                  <td *ngFor="let col of columns" class="ui-resizable-column">{{col.header == 'Fecha' ? (parametro[col.field] | date:'yyyy-MM-dd HH:mm:ss') : parametro[col.field] | camelCaseToEspacio}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                 <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
      </p-table>
    </div>
  </div>
  <div class="centradoPantalla" *ngIf="this.ingresos !== null && this.ingresos.length <= 0">
    <h3>No se encontraron ingresos</h3>
  </div>
  <form class="global-centered-form" *ngIf="this.ingresos !== null" [class.mt-0]="this.ingresos?.length==0">
    <div class="global-double-button">
      <button (click)="buscarAgain()" class="ui-button-warning" pButton label="Volver"></button>
      <button class="ui-button" (click)="exportExcel()" pButton type="button"  label="Exportar" [disabled]="this.ingresos.length <= 0 ? true : null"></button>
    </div>
  </form>
</div>     
