<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<p-messages severity="warn" class="mensajeCustom" *ngIf="displayPopUpSesionActiva">
  <ng-template pTemplate>
      <a tabindex="0" class="ui-messages-close ng-tns-c27-1 ng-star-inserted" (click)="cerrarVentanaSesion()"><span class="pi pi-times ng-tns-c27-1"></span></a>
      <div class="p-ml-2" style="margin-left: 10px">Ya tiene una sesión iniciada. puede cerrarla <a [routerLink]="['/']" (click)="borrarSesion()">aquí</a></div>
    </ng-template>
</p-messages>
  <div class="global-centered-form" *ngIf="!isLogged">
    <img src="trueAssets/supervielle-banner.png" alt="" *ngIf="!esEmbebido">
    <h1 *ngIf="!esEmbebido">Portal de Clientes</h1>
    <form action="">
      <label for="user">Usuario</label>
      <input type="text"  pInputText name="user" maxlength=10 [(ngModel)]="this.usuario" class="input"/>
      <label for="pass">Contraseña</label>
      <input type="password"  pInputText name="pass" [(ngModel)]="this.password" class="input"/>
      <button class="ui-button" pButton type="button" label="Acceder" (click)="loguarse()"></button>
    </form>
  </div>
  <div class="global-centered-form" *ngIf="isLogged">
    <img src="trueAssets/supervielle-banner.png" alt="">
    <h1 *ngIf="!esEmbebido">Portal de Clientes</h1>
  </div>
