#menu{
    position: fixed;
    width: 178px;
    top: 60px;
    bottom: 60px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid red;
    border-left: 0;
    background-color: white;
}

ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    bottom: 30px;
    width: 100%;
    padding: 0;
    overflow: scroll;
    align-items: center;
    list-style-type: none;
}
li{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;
}
li:hover{
    border-color: red;
}

#mostrar-menu{
    position: absolute;
    height: 20px;
    bottom: 49%;
    width: 20px;
    z-index: 2;
    background-color: white;
    border: 2px solid red;
    border-radius: 0px 20px 20px 0px;
    right: -24px;
}

a{
    text-decoration: none;
    color: inherit;
}
.active-link{
    color: red;
}


#menu.opened{
    left: 0px;
}
#menu.closed{
    left: -180px;
}
#menu.opening{
    animation-name: abrir;
    animation-duration: 1s;
}
#menu.closing{
    animation-name: cerrar;
    animation-duration: 1s;
}
@keyframes abrir{
    0%{left: -180px;}
    100%{left:0;}
}
@keyframes cerrar{
    0%{left: 0;}
    100%{left: -180px;}
}

.link-goodbye{
    color: gray;
    pointer-events: none;
}
.link-goodbye:hover{
    border-color: transparent;
}

@media (max-height: 240px){
    #menu{
        top: 0;
        bottom: 0;
    }
}
