<div id="menu" [ngClass]="menuStatus" *ngIf="!esEmbebido && menu">
    <ul>
        <li *ngIf="this.menu.includes('BUSQUEDA_CLIENTESBIO')">
            <a [routerLink]="['/biometria']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                Inicio Biometría
            </a>
        </li>
        <li *ngIf="this.menu.includes('ALTA_BIOMETRICA')" [ngClass]="{'link-goodbye' : !(this.currentId != null && !this.currentId.perfil_biometrico)}">
            <a [routerLink]="['/biometria/alta']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                Alta Biométrica
            </a>
        </li>
        <li *ngIf="this.menu.includes('MODIFICACION_BIOMETRICA')"  [ngClass]="{'link-goodbye' : !(this.currentId != null && this.currentId.perfil_biometrico)}">
            <a [routerLink]="['/biometria/modificacion']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                Modificacion Biométrica
            </a>
        </li>
        <li *ngIf="this.menu.includes('BUSQUEDA_CLIENTESBIOFACIAL')">
            <a [routerLink]="['/bio-facial']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <em class="fa-solid fa-face-laugh">Consulta Biometría Facial</em>
            </a>
        </li>

    </ul>
    <div id="mostrar-menu" (click)="toggleMenu()"></div>
</div>
