<div *ngIf="this.currentCliente">
    <div class="global-key-value">
        <p>Nombre:</p>
        <p>{{currentCliente.nombre}}</p>
    </div>
    <div class="global-key-value">
        <p>Apellido:</p>
        <p>{{currentCliente.apellido}}</p>
    </div>
    <div class="global-key-value">
        <p>Tipo Documento:</p>
        <p>{{currentCliente.tipoSimboloDocumento}}</p>
    </div>
    <div class="global-key-value">
        <p>Número Documento:</p>
        <p>{{currentCliente.numero_documento}}</p>
    </div>
    <div class="global-key-value">
        <p>Perfil biométrico:</p>
        <a *ngIf="currentId.perfil_biometrico" [routerLink]="['/biometria/modificacion']">Enrolado</a>
        <a *ngIf="!currentId.perfil_biometrico" [routerLink]="['/biometria/alta']">Sin enrolar</a>
    </div>
    <div class="global-key-value">
        <p>Problemas para enrolar:</p>
        <p *ngIf="!currentCliente.problemas_enrolamiento">Ninguno</p>
        <a *ngIf="currentCliente.problemas_enrolamiento" [routerLink]="['/biometria/problemas']">Tiene problemas</a>
    </div>
</div>
<div *ngIf="infoExtra && this.currentCliente && this.currentId.perfil_biometrico" style="margin-top: 4em;"> 
    <p><strong>Enrolamiento</strong></p>
    <hr>
    <div class="global-key-value">
        <p>Fecha:</p>
        <p>{{currentId.fecha_enrolamiento | date: 'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</p>
    </div>
    <div class="global-key-value">
        <p>Usuario:</p>
        <p>{{currentId.usuario_enrolamiento}}</p>
    </div>
    <div class="global-key-value">
        <p>Sucursal</p>
        <p>{{currentId.sucursal_enrolamiento}}</p>
    </div>
    
</div>
<br>
<div *ngIf="infoExtra && this.currentCliente && this.currentId.fecha_ultima_actualizacion" style="margin-top: 4em;">
    <p><strong>Actualización</strong></p>
    <hr>
    <div class="global-key-value">
        <p>Fecha:</p>
        <p>{{currentId.fecha_ultima_actualizacion | date: 'dd/MM/yyyy HH:mm:ss' : 'UTC'}}</p>
    </div>
    <div class="global-key-value">
        <p>Usuario:</p>
        <p>{{currentId.usuario_actualizacion}}</p>
    </div>

</div>