<p-messages severity="warn" class="mensajeCustom" *ngIf="enrolarCliente">
  <ng-template pTemplate>
    <a tabindex="0" class="ui-messages-close ng-tns-c27-1 ng-star-inserted" (click)="cerrarVentanaSesion()"><span
        class="pi pi-times ng-tns-c27-1"></span></a>
    <div class="p-ml-2" style="margin-left: 10px">El cliente {{documentoCliente}} no se encuentra enrolado, desea <a
        class="anchorSinUrl" (click)="enrolarClienteRapido()">enrolarlo</a>?</div>
  </ng-template>
</p-messages>
<div *ngIf="!this.identificado" class="centradoVertical">
  <div class="escaner" *ngIf="!this.esIngresoManual">
    <div class="topElement">
      <div class="estadoEscaner">
        <img *ngIf="!this.currentImagenDedo && !this.tomandoHuella" src="trueAssets/enrolamiento/IZQUIERDA_VACIA.png" alt="">
        
        <img *ngIf="this.currentImagenDedo" [src]="currentImagenDedo | curarUrl" alt="" id="huellaImagen">
        <p-rating *ngIf="currentCalidad != 0" [ngModel]="currentCalidad" readonly="true" stars="5" [cancel]="false"
          class="estrellas"></p-rating>

        <!--<img *ngIf="this.currentImagenDedo && !this.tomandoHuella" [src]="currentImagenDedo | curarUrl" alt="" id="huellaImagen">-->
        <div *ngIf="this.tomandoHuella">
        <finger-preview #fingerPreview
                        initialFingerImg="./trueAssets/huellas-indicaciones/finger.png"
                        moveFingerUpImg="./trueAssets/huellas-indicaciones/top-arrow.png"
                        moveFingerDownImg="./trueAssets/huellas-indicaciones/arrow-down.png"
                        moveFingerLeftImg="./trueAssets/huellas-indicaciones/left-arrow.png"
                        moveFingerRightImg="./trueAssets/huellas-indicaciones/right-arrow.png">
        </finger-preview>
      </div>
      </div>
      <div class="textoEscaner" style="margin-left: 50px;">
        <label for="mano">Apoye su <strong>HUELLA</strong><br> en el lector</label>
      </div>
    </div>
  </div>
  <div class="global-centered-form" *ngIf="!esIngresoManual">
    <div class="global-double-button">
      <button [disabled]="!escaneando ? true : null" class="ui-button-warning" pButton type="button" label="Detener"
        (click)="detenerCaptura()"></button>
      <button *ngIf="!this.escanCompleto" class="ui-button" pButton type="button"
        [disabled]="identificando || escaneando ? true : null" label="Identificar" (click)="escanear()"></button>
      <button *ngIf="this.escanCompleto" class="ui-button" pButton type="button"
        [disabled]="identificando || escaneando ? true : null" label="Identificar de nuevo"
        (click)="rescanear()"></button>
    </div>
  </div>
  <form action="" *ngIf="this.esVerificacion || this.esIngresoManual" class="global-centered-form"
    autocomplete="off" [class.mt-0]="esVerificacion || !esIngresoManual">

    <label for="pais_origen">País</label>
    <p-dropdown [options]="paisesOrigen" [(ngModel)]="pais" ngDefaultControl name="pais_origen" class="input"> </p-dropdown>
    <label for="tipo_documento">Tipo de documento</label>

    <p-dropdown [options]="tiposDocs" [(ngModel)]="tipoDoc" ngDefaultControl name="tipo_documento" class="input"> </p-dropdown>
    <label for="numero_documento">Número de documento</label>
    <input type="text" maxlength="11" name="numbero_documento" [(ngModel)]="numDoc" ngDefaultControl
      (keyup)=verificarInput($event.target.value) pInputText />
    <div class="global-double-button">
      <button (click)="verificar()" *ngIf="!esIngresoManual" pButton class="ui-button"
        [disabled]="disabled ? true : null" label="Verificar"></button>
      <button (click)="ingresoManual()" *ngIf="esIngresoManual || falloVerificacion" [disabled]="disabled ? true : null"
        pButton class="ui-button" label="Ingreso manual"></button>
    </div>
  </form>
</div>
<div *ngIf="this.identificado">
  <app-cajaseguridad [currentCliente]="this.clienteCajas" [cajasSeguridad]="this.cajas"
    [tipoIdentificacion]="this.tipoIdentificacion" (botonVolverBuscar)="buscarDeNuevo()"></app-cajaseguridad>
</div>